/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
  --color-black: #282830;
  --color-black-light: #353535;
  --color-white: #f3f3f3;
  --color-white-dark: #d4d4d4;
  --gradient-primary: linear-gradient(to top left, #8129f5, #a0c1ff);
}

:root {
  --black: #282830;
}

.light {
  --base: #f3f3f3;
  --base-lighter: #fcfcfc;
  --base-darker: #e2e2e2;
  --text: #12181b;
}

.dark {
  --base: #282830;
  --base-lighter: #34343b;
  --base-darker: #1b1b1f;
  --text: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--base-darker);
}

a {
  text-decoration: none;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: var(--base);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: var(--text);
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: var(--text);
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: var(--base-lighter);
  color: var(--text);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
/* .sidebar input {
  font-size: 15px;
  color: var(--color-white);
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: var(--color-black-light);
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: var(--color-black-light);
  color: var(--color-white);
}
.sidebar.open .bx-search:hover {
  background: var(--color-black-light);
  color: var(--color-white);
}
.sidebar .bx-search:hover {
  background: var(--color-white);
  color: var(--color-black);
} */
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: var(--base-darker);
}
.sidebar li a:hover {
  background: var(--text);
}
.sidebar li a .links_name {
  color: var(--text);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: var(--base);
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.home-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease, opacity 1s, transform 1s;
  /* transition: transform 1s, opacity 1s; */
  z-index: 2;
  /* border-bottom: 1px solid black; */
}

p {
  color: var(--text);
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  text-align: center;
  display: inline-block;
  color: var(--text);
  font-size: 25px;
  font-weight: 500;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 50px;
  text-align: center;
}
.inner > h1 {
  letter-spacing: -1px;
  line-height: 45px;
  color: rgb(142, 122, 253);
  font-size: 45px;
  margin-bottom: 8px;
}
.avatar {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.avatar > img {
  width: inherit;
  border-radius: 100%;
  border: 3px solid #fff;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

footer {
  background-color: var(--black);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > p {
  color: #fff;
}

.skills {
  width: 90%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  color: var(--text);
  margin: 10px 0;
}

.skill-bar {
  height: 16px;
  background: var(--base-darker);
  border-radius: 4px;
}

.skill-per {
  height: 16px;
  background: var(--gradient-primary);
  border-radius: 4px;
  position: relative;
  animation: fillBar 2.5s 1;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: var(--text);
  color: var(--base-lighter);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  top: -35px;
  right: 0;
  transform: translateX(50%);
  z-index: 1;
}

.skill-per::after {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background: var(--base-lighter);
  z-index: 0;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.btn {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  background: var(--gradient-primary);
  color: var(--base-lighter);
  padding: 14px 26px;
  margin-top: 12px !important;
  border-radius: 100px;
  transition: 200ms ease;
}

.btn:hover {
  filter: brightness(1.1);
}
.hidden {
  opacity: 0;
  transform: translateY(2rem);
}
/* .bg {
  clip-path: polygon(24% 21%, 100% 0%, 35% 44%, 0% 100%);
  background: var(--gradient-primary);
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
} */

.divider {
  height: 3px;
  width: 15%;
  background: var(--text);
  opacity: 0.2;
  margin-top: 5px;
  margin-bottom: 10px;
}
